# Entorno virtual
backend/venv/
backend/.venv/

# Variables de entorno y credenciales SENSIBLES
backend/.env
backend/firebase-service-account.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Alembic cache
backend/alembic/__pycache__/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# MkDocs site generado
docs-proyecto/site/

# Firebase config
frontend/js/firebase-config.js